# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Downloaded datasets and cache
data/mmlu_datasets/
data/huggingface_cache/

CLAUDE.md
.claude/*

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.venv_spacy_stats/*

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

### VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
**/.vscode

# JetBrains
.idea/

# Data & Models
*.h5
*.tar
*.tar.gz

# Lightning-Hydra-Template
configs/local/default.yaml

# Data and outputs - completely ignored
/data/
/outputs/

/logs/
.env

# Aim logging
.aim

doc/temp_docs/*
wandb/*
.venv_pretraining/*

pretraining_logs/*
temp_code/*
.venv_eval/*
clean_restart_logs/*
scifive_style_logs/*
scifive_style_lr002_logs/*

flan_t5_logs_lr_001_gradient_clip_1_with_inverse_sqrt_schedule/*
pretraining_logs_lr_001_gradient_clip_1_with_inverse_sqrt_schedule/*

evaluation/logs/*
scifive_style_v2_logs/*

evaluation/models/temp/*
.yoyo/
cross_lingual_transfer/data/german/raw_parquet/*

.venv_crosslingual_transfer/*


task_finetuning/configs/test_training.yaml
.hf_cache/*
evaluation/models/*
task_finetuning/task_finetuning_env/*
cross_lingual_transfer/models/*
task_finetuning/outputs/*
task_finetuning/task_finetuning/logs/*
task_finetuning/lightning_logs/*
task_finetuning/evaluation/models/best_finetuned_t5_step314/config.json
scilons_eval_runs/*
task_finetuning_env/*
task_finetuning/evaluation/results/*
task_finetuning/logs/*
task_finetuning/evaluation/models/*
task_finetuning/models/*
!task_finetuning/models/*.py
!task_finetuning/models/**/*.py


cross_lingual_transfer/cache/*
cross_lingual_transfer/data/*
*/.DS_Store
converted_models/*


pretraining_logs_lr_00005_gradient_clip_1_with_inverse_sqrt_schedule/*
# new runs with the fiex padding -100 for ignored tokens
pretraining_logs_lr_001_bugfixed_clean_restart/*
pretraining_logs_lr_0001_bugfixed_clean_restart/*
pretraining_logs_adafactor_relative_step_clip1/*

# new runs with the fiex padding -100 for ignored tokens and 0% overlap in the dataset
pretraining_logs_text_0olap512_v3_lr_0001_bugfixed/* 
pretraining_logs_text_0olap512_v3_lr_001_bugfixed/* 

# new runs with the fiex padding -100 for ignored tokens and 0% overlap in the dataset and optimized max encoder length instead of padding to max length 512 
pretraining_logs_lr_001_OPTIMIZED_clean_restart/*
pretraining_logs_text_0olap512_v3_lr_001_OPTIMIZED/*
pretraining_logs_adafactor_relative_step_clip1_OPTIMIZED_text_0olap512_v3/*
pretraining_logs_adafactor_relative_step_clip1_OPTIMIZED_text_0olap512_v3/*
pretraining_logs_adafactor_relative_step_clip1_OPTIMIZED/train/runs/*
pretraining_logs_text_0olap512_v3_lr_002_OPTIMIZED/train/runs/2025-09-08_02-24-29/checkpoints/steps/last.ckpt
pretraining_logs_lr_001_OPTIMIZED_clean_restart_v2/train/runs/*
evaluation/results/by_date/*
cross_lingual_transfer/logs/*

#generation test 
generation_test/*
t5_comparison/*
t5_native_comparison/*