# configs/cleaning/datatrove_xml_cleaning.yaml
# Konfiguration für die DataTrove XML-Bereinigungspipeline (Tiefe 1)

# Parameter für die Begrenzung der Dokumente

limit_documents: -1 # -1 für alle, oder eine Zahl für ein Limit

# Pfad-Konfiguration
# Passe diese Pfade an deine Daten an.
# Verzeichnis mit Parquet-Dateien, die Metadaten enthalten (z.B. die Ausgabe einer vorherigen Datatrove-Pipeline)
src_metadata_dir: "/ds-slt/sci-LLM/scilons/unpaywall_texts_pq/unpaywall_texts_pq_3/eng_Latn/"
# Basispfad auf dem Server, zu dem die relativen Pfade aus den Metadaten hinzugefügt werden, um den vollständigen XML-Pfad zu erhalten.
xml_base_dir: "/ds-slt/sci-LLM/scilons/sample-2023-07-27/data/"
# Ziel-Ordner für die Parquet-Dateien mit dem bereinigten Text
dst_dir: "/netscratch/nrauscher/projects/BA-hydra/data/cleaned_from_xml/"
# Basisname für die Ausgabedateien (Datatrove fügt Part-Nummern und Kompression hinzu)
dst_filename: "cleaned_from_xml_docs"
# Optional: Ziel-Ordner für Dokumente, die während der XML-Bereinigung herausgefiltert wurden
dst_filtered_out: "/netscratch/nrauscher/projects/BA-hydra/data/cleaned_from_xml_filtered_out/"

# Schlüssel im Metadatenobjekt des Datatrove-Dokuments
# Basierend auf deinem Beispiel-Metadatenobjekt ist dies "source_zip_content_path".
tei_xml_path_key: "source_zip_content_path"

# Processing Parameter
tasks: 8 # Anzahl der parallelen Tasks (Prozesse)
workers: 8 # Anzahl der Worker-Threads pro Task (wenn anwendbar, für lokale Ausführung oft 1 oder tasks*workers) 